3.3 - Standard Deviation
-----------------------
-----------------------

The formula for the standard deviation is:

$s = \sqrt{\frac{\sum_{i=1}^{n} (x_i - \bar{x})^2}{n-1}}$

We say that:

- $(s)$ is the standard deviation.
- $(n)$ is the sample size.
- $(x_i)$ are the individual values in the sample.
- $(\bar{x})$ is the mean of the sample.

As we can see, the standard deviation is just the square root of the variance. Its symbol is the letter "s"

In [7]:
import pandas as pd
import numpy as np
import statistics

In [4]:
data = {'Car': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
       '$x_i$':[27.3, 27.9, 32.9, 35.2, 44.9, 39.9, 30.0, 29.7, 28.5, 32.0, 37.6]}

# Create DataFrame
df = pd.DataFrame(data)


# Print the output.
df.head(11)

    Car  $x_i$
0     1   27.3
1     2   27.9
2     3   32.9
3     4   35.2
4     5   44.9
5     6   39.9
6     7   30.0
7     8   29.7
8     9   28.5
9    10   32.0
10   11   37.6

Numpy offers us the std method to calculate the standard deviation.

In [10]:
np.std(df['$x_i$'])

5.343691731594745

The Statistics library uses the stdev method for this operation and its result is a little more precise.

In [8]:
statistics.stdev(df['$x_i$'])

5.604511169990247