2.1 - Quartiles
---------------
---------------

Quartiles are a statistical measure that divides a set of ordered data into **four** equal parts.

The quartiles, usually denoted as **Q1**, **Q2** and **Q3**, represent the values ​​that separate the bottom 25%, the middle 50% and the top 25% of the data, respectively.

The second quartile, Q2, is simply the **median** of the data set. To better understand quartiles, it is essential to have a prior understanding of the median. The median is the center value of a set of ordered data, that is, it divides the data set into two equal parts: half of the data is above the median and the other half is below it.

Quartiles expand on this idea by dividing the ordered data into four equal parts, providing additional information about the **distribution** of the data and the **dispersion** of the values.

**How to calculate it?**
-----------------

In general terms, this is the process for calculating quartiles.

**1. First quartile (Q1):** It is the value that separates the lowest 25% of the data from the highest 75%. Mathematically, if we have a set of ordered data X1, X2, ..., Xn, where Xn is the number of data, then the first quartile is calculated as the value of or equal to X.

If the total number of data is odd, Q1 is the value at position (n+1)/4.

If the total number of data is even, Q1 is the average of the values ​​at positions n/4 and n/4+1.

**Second quartile (Q2):** It is simply the median of the data set. Divide the data into two equal parts: 50% of the data is above Q2 and the other 50% is below Q2.

**Third quartile (Q3):** It is the value that separates the lowest 75% of the data from the highest 25%. Similar to the first quartile, it is calculated as the value of X such that at least 75% of the data is less than or equal to x.

If the total number of data is odd, Q3 is the value at position(3n+1)/4.

If the total number of data is even, Q3 is the average of the values at positions 3n/4 and 3n/4+1.

**Requirements**
---------

La variables deben ser de nivel ordinal o superior, para poder calcular los cuartiles de un conjunto de datos.

**Example**
---------

In a university, it is decided to record the number of subjects passed by each first-year student.

The result is as follows.

In [42]:
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
# Initialize lists with data.
data = {'N of subjects passed': ['0', '1', '2', '3','4','5','6'],
        'Absolute Frequency': [30, 150, 200, 300, 250, 200, 20]}
 
# Create DataFrame
df = pd.DataFrame(data)

df['Accumulated Absolute Frequency']=df['Absolute Frequency'].cumsum()

df['Accumulated Relative Frequency'] = (df['Accumulated Absolute Frequency'] / df['Absolute Frequency'].sum()) * 100
 
# Print the output.
df.head(7)

,N of subjects passed,Absolute Frequency,Accumulated Absolute Frequency,Accumulated Relative Frequency
0,0,30,30,2.608696
1,1,150,180,15.652174
2,2,200,380,33.043478
3,3,300,680,59.130435
4,4,250,930,80.869565
5,5,200,1130,98.260870
6,6,20,1150,100.000000

In [44]:
#Lets see how we can calculate de quarters

total_cases=df['Absolute Frequency'].sum()

Q1=total_cases*0.25
Q2=total_cases*0.50
Q3=total_cases*0.75

print(Q1)
print(Q2)
print(Q3)

287.5
575.0
862.5

In [45]:
# Function to find the category for a given quartile
def find_category_for_quartile(quartile_value, df):
    cumulative_sum = 0
    category = None
    for index, row in df.iterrows():
        cumulative_sum += row['Absolute Frequency']
        if cumulative_sum >= quartile_value:
            category = row['N of subjects passed']
            break
    return category

# Calculate the categories for each quartile
category_Q1 = find_category_for_quartile(Q1, df)
category_Q2 = find_category_for_quartile(Q2, df)
category_Q3 = find_category_for_quartile(Q3, df)

print("Category of Q1:", category_Q1)
print("Category of Q2:", category_Q2)
print("Category of Q3:", category_Q3)

Category of Q1: 2
Category of Q2: 3
Category of Q3: 4