In [1]:
# Import pandas library
import pandas as pd
import matplotlib.pyplot as plt

1.1 Proportions
------

In [3]:
# First, we initialize a list of lists
data = [['Client_1', 10], ['Client_2', 50], ['Client_3', 20]]
 
# Then, we create a pandas DataFrame. We use "columns" to specify the columns names
df = pd.DataFrame(data, columns=['Name', 'Sales'])
 
# print dataframe.
df.head()

       Name  Sales
0  Client_1     10
1  Client_2     50
2  Client_3     20

In [4]:
# Calculate the relative frequency and add it as a new column
df['Relative Frequency'] = df['Sales'] / df['Sales'].sum()
df.head()

       Name  Sales  Relative Frequency
0  Client_1     10               0.125
1  Client_2     50               0.625
2  Client_3     20               0.250

In [5]:
# Calculate the cumulative frequency and add it as a new column
df['Cumulative Frequency'] = df['Relative Frequency'].cumsum()
df.head()

       Name  Sales  Relative Frequency  Cumulative Frequency
0  Client_1     10               0.125                 0.125
1  Client_2     50               0.625                 0.750
2  Client_3     20               0.250                 1.000

The _cumsum()_ method in pandas is used to compute the cumulative sum over a Series or DataFrame axis. It calculates the cumulative sum of the elements along a given axis (by default, it calculates the cumulative sum along rows).

For example, if you have a DataFrame or Series with numerical values, calling cumsum() will return another Series or DataFrame where each element is the sum of all preceding elements along the specified axis.